/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #060D1F;
    color: #d8d5d5;
    min-height: 100vh;
}

/* top-info */
.top-info {
    background-color: #03060f;
    text-align: right;
    padding: 10px 40px;
    font-size: 0.95rem;
    color: #d8d5d5;
    border-bottom: 1px solid #03060f;
}

/* navbar */
.navbar {
    background-color: #03060f;
    padding: 18px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #d8d5d5;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    transition: 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #00c9a7;
    bottom: -4px;
    left: 0;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* main-content */
.main-content {
    max-width: 700px;
    margin: 80px auto;
    text-align: center;
    padding: 0 20px;
    background-color: #03060F;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.main-content h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #d8d5d5;
}

#saldo {
    font-size: 1.4rem;
    color: #d8d5d5;
    margin-bottom: 30px;
}

.main-content input {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #505050;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #1a1f36;
    color: #d8d5d5;
    transition: all 0.3s ease;
}

.main-content input:focus {
    border-color: #00c9a7;
    box-shadow: 0 0 0 4px rgba(0, 201, 167, 0.2);
    outline: none;
}

.main-content button {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    background: linear-gradient(to right, #00c9a7, #007e6e);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 201, 167, 0.2);
}

.main-content button:hover {
    background: linear-gradient(to right, #00ffe0, #00c9a7);
    transform: translateY(-2px);
}

#msgContainer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #343a40;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.4s ease;
    z-index: 9999;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}